:root {
    --font-width: calc(100vw / 1680);
    --font-height: calc(100vh / 1050);
    --menu-width: calc(var(--font-width) * 110);
    --menu-height: calc(var(--font-height) * 1010);
    --calendar-width: calc(var(--font-width) * 358);
    --calendar-height: calc(var(--font-height) * 310);
    --event-height: calc(var(--font-height) * 206);
    --grid-height: calc(var(--font-height) * 890);
    --square-size: calc(var(--font-width) * 78);
    --square-event-width: calc(var(--font-width) * 154);
    --square-event-height: calc(var(--font-width) * 300);
}

body {
    background: linear-gradient(to bottom left, #1C8C92 30%, #4D6CBA 70%, #6F3388 100%);
    height: 100vh;
    margin: 0;
    position: relative; /* ¤«ï ¯à ¢¨«ì­®© à ¡®âë  ¡á®«îâ­®£® ¯®§¨æ¨®­¨à®¢ ­¨ï */
}

html, body {
    overflow: hidden; /* “¡¨à ¥â áªà®««ë */
    height: 100%; /* “¡¥¤¨â¥áì, çâ® ¢ëá®â  100% */
}

.menu { /* Œ…ž */
    width: var(--menu-width);
    height: var(--menu-height);
    left: calc(var(--font-height) * 20); /* ®âáâã¯ë á­¨§ã = á¢¥àåã */
    top: calc(var(--font-height) * 20);
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
}

.container2 { /* Š€‹…„€œ */
    width: var(--calendar-width);
    height: var(--calendar-height);
    left: calc(var(--font-height) * 20 * 2 + var(--menu-width));
    top: calc(var(--font-height) * 20);
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
}

.container3 { /* ‚›ŽŠ€ Œ…ŽˆŸ’ˆ‰ */
    width: var(--calendar-width);
    height: var(--event-height);
    left: calc(var(--font-height) * 20 * 2 + var(--menu-width));
    top: calc(var(--font-height) * 350);
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
}

.calendar { /* ¥¢¨¤¨¬ ï à ¬ª  - £àã¯¯  ¤«ï ª «¥­¤ àï */
    width: calc(100vw - (var(--font-height) * 20 * 4 + var(--menu-width) + var(--calendar-width)));
    height: var(--menu-height);
    left: calc(var(--font-height) * 20 * 3 + var(--menu-width) + var(--calendar-width));
    top: calc(var(--font-height) * 20);
    margin: 0;
    position: relative;
    z-index: 10;
    border-radius: 30px;
    display: flex;
    position: relative;
}

.calendarfon { /* ”®­ ª «¥­¤ àï */
    width: calc(100vw - (var(--font-height) * 20 * 4 + var(--menu-width) + var(--calendar-width)));
    height: var(--menu-height);
    background: linear-gradient(to bottom left, #B0FBFF 0%, #EEC5FF 100%);
    opacity: 0.5;
    margin: 0;
    border-radius: 30px;
    display: flex;
    z-index: 3;
    position: absolute;
}

.grid { /* ¥«ë© ä®­ ¢­ãâà¨ ª «¥­¤ àï */
    width: calc(100vw - (var(--font-height) * 20 * 5 + var(--menu-width) + var(--calendar-width)));
    height: var(--grid-height);
    left: calc(var(--font-height) * 10);
    top: calc(var(--font-height) * 110);
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    position: absolute;
}

.square {
    width: var(--square-size);
    height: var(--square-size);
    border-radius: 20px;
    position: absolute;
    left: calc(var(--font-width) * 16);
}

.squaremero { /* ¯« èª  ¬¥à®¯à¨ïâ¨ï ¢ ª «¥­¤ à¥ */
    width: var(--square-event-width); /* § ¢¨á¨â ®â ¢«®¦¥­­®áâ¨! */
    height: var(--square-event-height); /* § ¢¨á¨â ®â ¢à¥¬¥­¨! */
    left: calc(var(--font-width) * 266);
    top: calc(var(--font-height) * 303);
    background-color: rgb(102, 247, 198);
    border-radius: 20px;
    z-index: 5;
    position: absolute;
}

.square1 {
    background-color: #FE8484;
    top: calc(var(--font-width) * 16);
}

.square2 {
    background-color: #4D6CBA;
    top: calc(var(--font-width) * 124);
}

.square3 {
    background-color: #1C8C92;
    top: calc(var(--font-width) * 216);
}

.line {
    width: calc(var(--font-width) * 78);
    height: 1px;
    background-color: #8E8E8E;
    border-radius: 5px;
    position: absolute; 
    top: calc(var(--font-width) * 110);
    left: calc(var(--font-width) * 16);
}

.custom-button {
    width: calc(var(--font-width) * 140);
    height: calc(100vh * 28 / 1050);
    background-color: white; /* –¢¥â ä®­  ª­®¯ª¨ */
    color: #4A5660; /* –¢¥â â¥ªáâ  ª­®¯ª¨ */
    border: none; /* “¡¨à ¥¬ áâ ­¤ àâ­ãî à ¬ªã */
    border-radius: 14px; /* ‘ªàã£«¥­­ë¥ ªà ï */
    cursor: pointer; /* Šãàá®à ¯à¨ ­ ¢¥¤¥­¨¨ */
    transition: background-color 0.3s, color 0.3s; /* « ¢­ë© ¯¥à¥å®¤ æ¢¥â  */
    font-family: 'Montserrat', sans-serif; /* à¨¬¥­¥­¨¥ èà¨äâ  Montserrat */
    font-size: calc(100vh * 20 / 1100); /*  §¬¥à èà¨äâ  */
    /* –¥­âà¨à®¢ ­¨¥ ¯® £®à¨§®­â «¨ */
    /*display: block; /* ‡ ¤ ¥¬ ª­®¯ª¥ ¡«®ç­ãî ¬®¤¥«ì */
    margin: 0 auto; /* €¢â®¬ â¨ç¥áª¨¥ ®âáâã¯ë ¯® ¡®ª ¬ */
}

.custom-button:hover {
    background-color: #1C8C92; /* –¢¥â ä®­  ¯à¨ ­ ¢¥¤¥­¨¨ */
    color: white; /* –¢¥â â¥ªáâ  ¯à¨ ­ ¢¥¤¥­¨¨ */
}


/* #body2 */
#body2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    position: absolute;
    z-index: 3000;
    width: 300px;
    height: 150px;
    background-color: rgba(209, 253, 255, 0.32);
    top: 50px;
    left: 50px;
    pointer-events: auto;
}

/* Этот класс применяется к элементам, которые должны менять цвет при наведении */
.rectangle {
    margin: 20px;
    transition: background-color 0.3s ease;
    z-index: 250;
}

/* Основной стиль для элемента .large */
.large {
    width: 300px;
    height: 150px;
    background-color: rgba(209, 253, 255, 0.32); /* Начальный цвет */
    transition: background-color 0.3s ease; /* Добавляем плавный переход */
}

/* При наведении на элемент с классом .large, его цвет меняется */
.large:hover {
    background-color: #E1FAFF; /* Цвет при наведении */
}

/* Применение hover к .rectangle также */
.rectangle:hover .large {
    background-color: #E1FAFF; /* Цвет при наведении для прямоугольника */
}
